/install/*/**
/build/**/**
!/build/COLCON_IGNORE
!/install/.colcon_install_layout

!/install/_local_setup_util_ps1.py

!/install/_local_setup_util_sh.py

!/install/COLCON_IGNORE

!/install/local_setup.bash

!/install/local_setup.ps1

!/install/local_setup.sh

!/install/local_setup.zsh

!/install/setup.bash

!/install/setup.ps1

!/install/setup.sh

!/install/setup.zsh
!/build/.built_by
